html {
  scroll-behavior: smooth;

  background-color: var(--ko-c-bg);
  transition: background-color var(--el-transition-duration-fast);
}

:root {
  --ko-c-brand: #0078e7;
  --ko-c-link: var(--ko-c-brand);

  --ko-c-bg: #f0f2f5;
}

.dark {
  --ko-c-bg: #121212;
}

p {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

a,
.at {
  color: var(--ko-c-link);
  text-decoration: none;
}

.el-bg-overlay {
  background-color: var(--el-bg-color-overlay);
}
