html {
  scroll-behavior: smooth;
}

:root {
  --ko-c-link: #0078E7;
}

a,
.at {
  color: var(--ko-c-link);
  text-decoration: none;
}

.el-bg-overlay {
  background-color: var(--el-bg-color-overlay);
}
