.vemoji {
  display: inline-block;
  width: 1rem;
  margin-left: 2px;
  margin-right: 2px;
}

.el-table {
  a {
    @apply text-blue-500;
  }

  .cell {
    overflow: visible;
  }
}

:root {
  --waline-theme-color: #3b82f6 !important;
  --waline-active-color: #60a5fa !important;
}
