.wl-emoji {
  display: inline-block;
  width: 1rem;
  
  margin-left: 2px;
  margin-right: 2px;

  line-height: 1rem;
  vertical-align: middle;
}

.el-table {
  a {
    color: var(--ko-c-link);
  }

  .cell {
    overflow: visible;
  }
}

:root {
  --waline-theme-color: #3b82f6 !important;
  --waline-active-color: #60a5fa !important;
}
